$highLight: #3498db;
$black: #252525;
$grey: #F5F5F5;
$deepGrey: #E9EAEC;
$dimGreen: #f9fcf7;

$border-xlight: rgb(0 0 0/5%);
$border-light: rgba(0, 0, 0, 0.1);
$border-medium: rgba(0, 0, 0, 0.15);
$border-heavy: rgba(0, 0, 0, 0.2);
$border-xheavy: rgba(0, 0, 0, 0.25);
$box-shadow:
  5px 5px 10px #d9d9d9,
  -5px -5px 10px #ffffff;

$font-size-normal: 1.1rem;
$font-size-small:0.7rem;

$font-family:Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
'微软雅黑', Arial, sans-serif;